<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
         <section name="ApplicationSettings" type="MattRaffelNetCode.Apps.SqlCodeGen.Properties.SqlCodeGenSettingsSection,SqlCodeGen" />
    </configSections>
    <ApplicationSettings>
        <Settings>
            <setting name="TemplatePath" value=".\templates" />
            <setting name="DefaultDataTypesFile" value=".\default.datatypes" />
            <setting name="ConnectionFormat" value="Data Source={0};Initial Catalog={1};Integrated Security=True" />
            <setting name="OutputPath" value=".\output" />
            <setting name="DefaultNameSpace" value="mattraffel.com.CodeGenTest" />
            <setting name="DefaultSQLNameChart" value=".\default.names" />
            <setting name="MemberNameFormatter" value="AlternateMemberFormatter.MUnderscoreMemberNameFormatter,AlternateMemberFormatter" />
        </Settings>
        <Templates>
            <templateData name="FullAccess" fileName="fullaccess.cs.template" generateCrud="ALL"/>
            <templateData name="ReadAccess" fileName="readaccess.cs.template" generateCrud="Retrieve"/>
        </Templates>
        <Snippets>
            <snippet name="CRUDInsert" fileName="insert.cs.snippet" />
            <snippet name="CRUDRetrieve" fileName="select.cs.snippet" />
            <snippet name="CRUDDelete" fileName="delete.cs.snippet" />
            <snippet name="CRUDUpdate" fileName="update.cs.snippet" />
            <snippet name="DataProperty" fileName="dataproperty.cs.snippet" />
            <snippet name="Property" fileName="property.cs.snippet" />
            <snippet name="PrivateData" fileName="data.cs.snippet" />
            <snippet name="CRUDAddParamWithValue" fileName="addparamwithvalue.cs.snippet" />
            <snippet name="CRUDReader" fileName="reader.cs.snippet" />
        </Snippets>
    </ApplicationSettings>
</configuration>