        public $DATA_TYPE$ $PROPERTY_NAME$
        {
            [System.Runtime.CompilerServices.MethodImpl(System.Runtime.CompilerServices.MethodImplOptions.NoInlining)]
            [DebuggerStepThrough]
            get { return $DATA_NAME$; }
            [System.Runtime.CompilerServices.MethodImpl(System.Runtime.CompilerServices.MethodImplOptions.NoInlining)]
            set { $DATA_NAME$ = value;}
        }
